@keyframes swing {
  15% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px); }
  30% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px); }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px); }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px); }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@font-face {
  font-family: Aleo-regular;
  src: url("../fonts/aleo-regular.woff"); }
@font-face {
  font-family: "Oswald Light";
  src: url("../fonts/oswald-light-webfont.woff"); }
@font-face {
  font-family: nexa_boldregular;
  src: url("../fonts/Nexa_Free_Bold-webfont.woff");
  font-weight: normal;
  font-style: normal; }
.aleo-font, .content__section-view-all, .slide-title, #tab-1 > a, #hexagon > span, .body-panel > ul > li > a, .hover-text > span, .slide-p > span, .body-panel-tablet > ul > li > a {
  font-family: Aleo-regular; }

.oswald-light-font, .product__add-to-cart span, .content__section-name, .footer__top-name,
h4.title-panel > a, .navbar-style > li > a, .heading-tablet > h4 > a {
  font-family: "Oswald Light", sans-serif; }

.oswald-regular-font, .product__name, .links-head, .product__price span, .footer__radius,
.change-miles, .footer__find-store span, .links-ul li a, .slider-button > a, #tab-2 > a, .new > span, .sale > span, .sale-price > span {
  font-family: 'Oswald', sans-serif; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

.header {
  position: relative; }

.header__upper-navigation {
  background-color: #e9e9e9;
  border-bottom: 1px solid #d7d7d7;
  margin-bottom: 30px; }

#tab-1, #tab-2 {
  text-transform: uppercase; }

#tab-1 {
  font-weight: 900; }

#tab-2 > a {
  line-height: 18px; }

#tab-3 > a {
  font-family: nexa_boldregular, serif;
  font-size: 15px; }

.nav-tabs {
  position: relative;
  text-align: center;
  border-bottom: none; }
  .nav-tabs li {
    position: relative;
    float: none;
    display: inline-block;
    height: 33px;
    *display: inline;
    /* ie7 fix */
    zoom: 1;
    /* hasLayout ie7 trigger */ }
    .nav-tabs li:first-of-type, .nav-tabs li:last-of-type {
      border-right: 1px solid #d7d7d7;
      border-left: 1px solid #d7d7d7; }
    .nav-tabs li:hover {
      position: relative;
      background-color: white; }
    .nav-tabs li a {
      border: none;
      -moz-border-radius: none;
      /* Firefox */
      -webkit-border-radius: none;
      /* Safari, Google Chrome */
      -khtml-border-radius: none;
      /* KHTML */
      -o-border-radius: none;
      /* Opera */
      -ms-border-radius: none;
      /* IE8 */
      border-radius: none;
      /* CSS3 */
      color: #999999; }

.nav > li > a {
  padding: 7px 10px; }
  .nav > li > a:hover {
    background-color: white;
    border: none; }

.header__logo {
  margin-top: 0;
  height: 124px;
  width: auto;
  margin-bottom: 30px;
  text-align: center; }
  .header__logo a {
    display: block;
    height: 124px; }
    .header__logo a img {
      position: relative;
      z-index: 500; }

.header__logo-top, .header__logo-bottom {
  margin: 0 auto;
  display: block;
  position: relative; }

.header__logo-top {
  height: 34px; }

.header__logo-bottom {
  margin-top: 10px; }

.navigation-button {
  padding: 6px;
  float: left; }

.navbar {
  min-height: 10px;
  margin-bottom: 0; }

.navbar-toggle {
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0; }

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #282828; }

.glyphicon {
  line-height: 25px;
  font-size: 19.5px;
  color: #a0a0a0; }

.btn-toolbar > .btn-group {
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid #d7d7d7;
  border-left: 1px solid #d7d7d7;
  margin-left: -1px; }

.badge {
  position: absolute;
  right: -1px;
  top: -10px;
  width: 15px;
  height: 15px;
  background-color: #e13f56;
  padding: 3px;
  font-size: 11px;
  font-weight: normal; }

.right-inner-addon {
  display: none; }

.clear {
  margin-top: -1px;
  height: 1px;
  clear: both;
  zoom: 1; }

.slider {
  position: relative;
  overflow: hidden;
  padding: 0;
  background-color: black; }
  .slider::-moz-selection, .slider::selection {
    background: transparent;
    color: white;
    text-shadow: none; }

.slide-list {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: black; }

.slide-wrap {
  position: relative;
  left: 0;
  top: 0;
  width: 10000000px; }

.slide-item {
  position: relative;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  /*Firefox 1-3*/
  -webkit-box-sizing: content-box;
  /* Safari */
  float: left;
  padding-right: 66vw;
  width: 360px;
  height: 290px; }

.slide-item-1 {
  height: 290px;
  background: url("../img/img-1.jpg") no-repeat; }

.slide-item-2 {
  height: 290px;
  background: url("../img/img-2.jpg") no-repeat; }

.slide-item-3 {
  height: 290px;
  background: url("../img/img-3.jpg") no-repeat; }

.slide-item-4 {
  height: 290px;
  background: url("../img/img-4.jpg") no-repeat; }

.slide-p {
  display: none; }

.slide-title, .slider-button {
  position: absolute;
  left: 50vw;
  text-align: center; }

.slide-title {
  top: 30px;
  display: inline-block;
  margin-left: -150px;
  width: 300px;
  line-height: 1.15em;
  color: white;
  font-size: 35px; }

.slider-button {
  top: 210px;
  width: 150px;
  height: 50px;
  border: 2px solid white;
  margin-left: -75px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5); }
  .slider-button:hover {
    background-color: #1a1a1a; }
  .slider-button a {
    line-height: 45px;
    color: white;
    font-size: 20px; }

.navy {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 30px;
  cursor: pointer; }
  .navy.disable {
    background: white; }

.prev-slide, .next-slide {
  display: inline-block;
  line-height: 290px;
  height: 290px; }
  .prev-slide:before, .prev-slide:after, .next-slide:before, .next-slide:after {
    font-size: 80px;
    font-weight: 100;
    color: white; }

.prev-slide {
  left: 10px;
  top: 9px; }
  .prev-slide:before {
    content: url("../img/left.png"); }

.next-slide {
  right: 25px;
  top: 9px; }
  .next-slide:before {
    content: url("../img/right.png"); }

.header__navigation {
  position: absolute !important;
  z-index: 20;
  overflow: visible;
  background-color: #fff;
  top: 183px;
  width: 100%; }

.body-panel {
  padding: 0; }

.body-panel ul > li > a {
  display: block;
  line-height: 37px;
  padding-left: 20px;
  border-radius: 0;
  border: 2px solid #333333;
  color: white;
  font-size: 16px;
  background-color: #333333;
  text-transform: none; }
  .body-panel ul > li > a:hover {
    background-color: black;
    color: white; }
  .body-panel ul > li > a > img {
    display: none; }

.heading {
  position: relative;
  border-radius: 0;
  border: 2px solid #333333;
  background-color: #787878; }
  .heading .title-panel a {
    padding-left: 10px;
    color: white;
    font-size: 16px;
    text-transform: uppercase; }
    .heading .title-panel a:after {
      content: "\FE40";
      position: absolute;
      right: 10px;
      top: 15px;
      color: #333333;
      height: 5px; }

.body-panel ul {
  margin: 0; }

.submenu-open, .body-panel {
  display: none; }

.body-panel li:not(:last-of-type) {
  border-bottom: 1px solid #282828; }

h4.title-panel > a:hover, .body-panel ul li a:hover {
  cursor: pointer; }

h4.panel-title > a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 37px;
  padding-left: 5px;
  text-transform: uppercase; }

.heading {
  padding: 0 !important; }

.select-heading {
  background-color: #e9e9e9 !important; }
  .select-heading a {
    color: #333333 !important; }
    .select-heading a:after {
      transform: rotate(180deg); }

.nav-tabs > li > a {
  margin: 0;
  border-radius: 0; }

.panel-default {
  border: none; }

li.noticeable, li.noticeable a {
  background-color: white !important; }

li.noticeable a {
  border: none !important;
  line-height: 40px;
  color: black !important;
  margin-left: 10px;
  font-weight: 900; }

.submenu-open-tablet {
  display: none; }

.fourfold {
  position: relative; }

.content__section-name, .footer__top-name {
  display: inline-block;
  text-transform: uppercase;
  padding-bottom: 20px;
  border-bottom: double 4px #d7d7d7;
  margin-top: 50px;
  color: #434343; }

.content__section-view-all {
  color: #999999;
  display: block;
  margin: 0 auto;
  font-size: 18px; }
  .content__section-view-all:hover, .content__section-view-all:visited {
    color: gray; }

.product {
  position: relative;
  margin: 25px auto; }

.product__description {
  position: relative;
  height: 100px;
  background-color: #cccccc; }

.product__add-to-cart, .new, .sale {
  height: 40px;
  background-color: #2fb789; }
  .product__add-to-cart span, .new span, .sale span {
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 20px; }

.product__add-to-cart:hover {
  background-color: #333333;
  cursor: pointer; }

.product__name, .links-head {
  display: inline-block;
  color: #555555;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 18px; }

.line {
  height: 1px;
  width: 100px;
  background-color: #bbbbbb;
  margin: 5px auto; }

.product__price {
  display: inline-block; }

.product__price > span, .sale-price > span {
  color: white;
  font-size: 20px; }
  .product__price > span:before, .sale-price > span:before {
    content: "$ ";
    font-size: 19px;
    vertical-align: 5%; }

.product__info-wrapper {
  position: absolute;
  top: -15px;
  bottom: 0;
  right: 0;
  left: 0;
  height: 50%;
  margin: auto; }

.sale-price {
  display: inline; }
  .sale-price span {
    color: #f45281; }

.line-through-price {
  text-decoration: line-through;
  color: white; }

.new {
  background-color: rgba(127, 68, 110, 0.8); }

.sale {
  background-color: rgba(244, 82, 129, 0.8); }

.new, .sale {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%; }
  .new span, .sale span {
    line-height: 40px;
    color: white;
    text-transform: uppercase; }

.hover-text {
  display: none; }

.footer_bg {
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: -1; }

.footer__top {
  height: 525px;
  border-bottom: 1px solid #d7d7d7; }

.footer__top-name {
  width: 100%;
  background-color: rgba(18, 204, 226, 0.5);
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: none;
  margin-top: 30px; }

.text-center-on-blue {
  display: inline-block;
  font-weight: 100;
  font-size: 40px;
  line-height: 1.3em;
  color: white;
  width: auto; }

.footer__zip {
  position: relative;
  width: 200px;
  text-align: center; }
  .footer__zip i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
    left: 2px;
    top: -5px;
    color: rgba(14, 132, 145, 0.5); }

.footer__zip-input {
  display: block;
  margin: 40px auto;
  padding: 5px 15px;
  text-align: center;
  border-radius: 0; }

::-webkit-input-placeholder {
  font-family: 'Oswald Light', sans-serif;
  font-size: 18px; }

:-moz-placeholder {
  font-family: 'Oswald Light', sans-serif;
  font-size: 18px; }

::-moz-placeholder {
  font-family: 'Oswald Light', sans-serif;
  font-size: 18px; }

:-ms-input-placeholder {
  font-family: 'Oswald Light', sans-serif;
  font-size: 18px; }

.footer__radius, .change-miles {
  font-size: 25px; }

.footer__radius {
  color: #b8b8b8;
  text-transform: uppercase; }

.change-miles {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
  color: #434343;
  width: auto;
  padding-right: 5px;
  cursor: pointer; }
  .change-miles option {
    transition: 1s; }

label {
  position: relative;
  background: transparent; }

label:after {
  position: absolute;
  content: '\25C0 \25B6';
  font: 14px "Oswald", monospace;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: -14px;
  top: 7px;
  padding: 0 0 2px;
  pointer-events: none;
  color: #434343; }

.footer__find-store {
  width: 200px;
  height: 50px;
  background-color: #167c9a;
  text-align: center;
  margin: 40px auto; }
  .footer__find-store span {
    color: white;
    font-size: 22px;
    line-height: 50px; }
  .footer__find-store:hover {
    background-color: #10586d;
    cursor: pointer; }

.footer__description {
  display: inline-block;
  width: auto; }
  .footer__description h1 {
    text-transform: uppercase; }
  .footer__description p {
    color: #999999;
    display: inline-block;
    width: 60%; }

.links-head {
  margin: 20px 0; }

.links-ul li {
  padding: 10px 0; }
  .links-ul li a {
    color: #555555;
    font-size: 15px; }

.footer__social {
  font-size: 30px;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  flex-flow: column wrap;
  -webkit-flex-flow: column wrap;
  -webkit-align-content: center;
  align-content: center; }
  .footer__social .footer__social-row {
    margin: 10px 0;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    -webkit-justify-content: space-around;
    justify-content: space-around; }
    .footer__social .footer__social-row i {
      color: #12cce2; }

.footer__shopname {
  color: #434343; }

.figure-inner {
  display: none; }

.flex-display {
  display: -webkit-box !important;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox !important;
  /* TWEENER - IE 10 */
  display: -webkit-flex !important;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex !important;
  /* NEW, Spec - Firefox, Chrome, Opera */ }

.block-display {
  display: block !important; }

.none-display {
  display: none !important; }

@media screen and (max-width: 599px) {
  .product {
    width: 220px;
    height: 360px; }

  .fourfold {
    display: block; }
    .fourfold:nth-last-of-type(n+2) {
      display: none; } }
@media screen and (max-width: 440px) {
  .slide-item-1, .slide-item-2 {
    background-repeat: round; } }
@keyframes swing {
  15% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px); }
  30% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px); }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px); }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px); }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@font-face {
  font-family: Aleo-regular;
  src: url("../fonts/aleo-regular.woff"); }
@font-face {
  font-family: "Oswald Light";
  src: url("../fonts/oswald-light-webfont.woff"); }
@font-face {
  font-family: nexa_boldregular;
  src: url("../fonts/Nexa_Free_Bold-webfont.woff");
  font-weight: normal;
  font-style: normal; }
.aleo-font, .content__section-view-all, .slide-title, #tab-1 > a, #hexagon > span, .body-panel > ul > li > a, .hover-text > span, .slide-p > span, .body-panel-tablet > ul > li > a {
  font-family: Aleo-regular; }

.oswald-light-font, .product__add-to-cart span, .content__section-name, .footer__top-name,
h4.title-panel > a, .navbar-style > li > a, .heading-tablet > h4 > a {
  font-family: "Oswald Light", sans-serif; }

.oswald-regular-font, .product__name, .links-head, .product__price span, .footer__radius,
.change-miles, .footer__find-store span, .links-ul li a, .slider-button > a, #tab-2 > a, .new > span, .sale > span, .sale-price > span {
  font-family: 'Oswald', sans-serif; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

.header {
  position: relative; }

.header__upper-navigation {
  background-color: #e9e9e9;
  border-bottom: 1px solid #d7d7d7;
  margin-bottom: 30px; }

#tab-1, #tab-2 {
  text-transform: uppercase; }

#tab-1 {
  font-weight: 900; }

#tab-2 > a {
  line-height: 18px; }

#tab-3 > a {
  font-family: nexa_boldregular, serif;
  font-size: 15px; }

.nav-tabs {
  position: relative;
  text-align: center;
  border-bottom: none; }
  .nav-tabs li {
    position: relative;
    float: none;
    display: inline-block;
    height: 33px;
    *display: inline;
    /* ie7 fix */
    zoom: 1;
    /* hasLayout ie7 trigger */ }
    .nav-tabs li:first-of-type, .nav-tabs li:last-of-type {
      border-right: 1px solid #d7d7d7;
      border-left: 1px solid #d7d7d7; }
    .nav-tabs li:hover {
      position: relative;
      background-color: white; }
    .nav-tabs li a {
      border: none;
      -moz-border-radius: none;
      /* Firefox */
      -webkit-border-radius: none;
      /* Safari, Google Chrome */
      -khtml-border-radius: none;
      /* KHTML */
      -o-border-radius: none;
      /* Opera */
      -ms-border-radius: none;
      /* IE8 */
      border-radius: none;
      /* CSS3 */
      color: #999999; }

.nav > li > a {
  padding: 7px 10px; }
  .nav > li > a:hover {
    background-color: white;
    border: none; }

.header__logo {
  margin-top: 0;
  height: 124px;
  width: auto;
  margin-bottom: 30px;
  text-align: center; }
  .header__logo a {
    display: block;
    height: 124px; }
    .header__logo a img {
      position: relative;
      z-index: 500; }

.header__logo-top, .header__logo-bottom {
  margin: 0 auto;
  display: block;
  position: relative; }

.header__logo-top {
  height: 34px; }

.header__logo-bottom {
  margin-top: 10px; }

.navigation-button {
  padding: 6px;
  float: left; }

.navbar {
  min-height: 10px;
  margin-bottom: 0; }

.navbar-toggle {
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0; }

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #282828; }

.glyphicon {
  line-height: 25px;
  font-size: 19.5px;
  color: #a0a0a0; }

.btn-toolbar > .btn-group {
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid #d7d7d7;
  border-left: 1px solid #d7d7d7;
  margin-left: -1px; }

.badge {
  position: absolute;
  right: -1px;
  top: -10px;
  width: 15px;
  height: 15px;
  background-color: #e13f56;
  padding: 3px;
  font-size: 11px;
  font-weight: normal; }

.right-inner-addon {
  display: none; }

.clear {
  margin-top: -1px;
  height: 1px;
  clear: both;
  zoom: 1; }

.slider {
  position: relative;
  overflow: hidden;
  padding: 0;
  background-color: black; }
  .slider::-moz-selection, .slider::selection {
    background: transparent;
    color: white;
    text-shadow: none; }

.slide-list {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: black; }

.slide-wrap {
  position: relative;
  left: 0;
  top: 0;
  width: 10000000px; }

.slide-item {
  position: relative;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  /*Firefox 1-3*/
  -webkit-box-sizing: content-box;
  /* Safari */
  float: left;
  padding-right: 66vw;
  width: 360px;
  height: 290px; }

.slide-item-1 {
  height: 290px;
  background: url("../img/img-1.jpg") no-repeat; }

.slide-item-2 {
  height: 290px;
  background: url("../img/img-2.jpg") no-repeat; }

.slide-item-3 {
  height: 290px;
  background: url("../img/img-3.jpg") no-repeat; }

.slide-item-4 {
  height: 290px;
  background: url("../img/img-4.jpg") no-repeat; }

.slide-p {
  display: none; }

.slide-title, .slider-button {
  position: absolute;
  left: 50vw;
  text-align: center; }

.slide-title {
  top: 30px;
  display: inline-block;
  margin-left: -150px;
  width: 300px;
  line-height: 1.15em;
  color: white;
  font-size: 35px; }

.slider-button {
  top: 210px;
  width: 150px;
  height: 50px;
  border: 2px solid white;
  margin-left: -75px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5); }
  .slider-button:hover {
    background-color: #1a1a1a; }
  .slider-button a {
    line-height: 45px;
    color: white;
    font-size: 20px; }

.navy {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 30px;
  cursor: pointer; }
  .navy.disable {
    background: white; }

.prev-slide, .next-slide {
  display: inline-block;
  line-height: 290px;
  height: 290px; }
  .prev-slide:before, .prev-slide:after, .next-slide:before, .next-slide:after {
    font-size: 80px;
    font-weight: 100;
    color: white; }

.prev-slide {
  left: 10px;
  top: 9px; }
  .prev-slide:before {
    content: url("../img/left.png"); }

.next-slide {
  right: 25px;
  top: 9px; }
  .next-slide:before {
    content: url("../img/right.png"); }

.header__navigation {
  position: absolute !important;
  z-index: 20;
  overflow: visible;
  background-color: #fff;
  top: 183px;
  width: 100%; }

.body-panel {
  padding: 0; }

.body-panel ul > li > a {
  display: block;
  line-height: 37px;
  padding-left: 20px;
  border-radius: 0;
  border: 2px solid #333333;
  color: white;
  font-size: 16px;
  background-color: #333333;
  text-transform: none; }
  .body-panel ul > li > a:hover {
    background-color: black;
    color: white; }
  .body-panel ul > li > a > img {
    display: none; }

.heading {
  position: relative;
  border-radius: 0;
  border: 2px solid #333333;
  background-color: #787878; }
  .heading .title-panel a {
    padding-left: 10px;
    color: white;
    font-size: 16px;
    text-transform: uppercase; }
    .heading .title-panel a:after {
      content: "\FE40";
      position: absolute;
      right: 10px;
      top: 15px;
      color: #333333;
      height: 5px; }

.body-panel ul {
  margin: 0; }

.submenu-open, .body-panel {
  display: none; }

.body-panel li:not(:last-of-type) {
  border-bottom: 1px solid #282828; }

h4.title-panel > a:hover, .body-panel ul li a:hover {
  cursor: pointer; }

h4.panel-title > a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 37px;
  padding-left: 5px;
  text-transform: uppercase; }

.heading {
  padding: 0 !important; }

.select-heading {
  background-color: #e9e9e9 !important; }
  .select-heading a {
    color: #333333 !important; }
    .select-heading a:after {
      transform: rotate(180deg); }

.nav-tabs > li > a {
  margin: 0;
  border-radius: 0; }

.panel-default {
  border: none; }

li.noticeable, li.noticeable a {
  background-color: white !important; }

li.noticeable a {
  border: none !important;
  line-height: 40px;
  color: black !important;
  margin-left: 10px;
  font-weight: 900; }

.submenu-open-tablet {
  display: none; }

.fourfold {
  position: relative; }

.content__section-name, .footer__top-name {
  display: inline-block;
  text-transform: uppercase;
  padding-bottom: 20px;
  border-bottom: double 4px #d7d7d7;
  margin-top: 50px;
  color: #434343; }

.content__section-view-all {
  color: #999999;
  display: block;
  margin: 0 auto;
  font-size: 18px; }
  .content__section-view-all:hover, .content__section-view-all:visited {
    color: gray; }

.product {
  position: relative;
  margin: 25px auto; }

.product__description {
  position: relative;
  height: 100px;
  background-color: #cccccc; }

.product__add-to-cart, .new, .sale {
  height: 40px;
  background-color: #2fb789; }
  .product__add-to-cart span, .new span, .sale span {
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 20px; }

.product__add-to-cart:hover {
  background-color: #333333;
  cursor: pointer; }

.product__name, .links-head {
  display: inline-block;
  color: #555555;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 18px; }

.line {
  height: 1px;
  width: 100px;
  background-color: #bbbbbb;
  margin: 5px auto; }

.product__price {
  display: inline-block; }

.product__price > span, .sale-price > span {
  color: white;
  font-size: 20px; }
  .product__price > span:before, .sale-price > span:before {
    content: "$ ";
    font-size: 19px;
    vertical-align: 5%; }

.product__info-wrapper {
  position: absolute;
  top: -15px;
  bottom: 0;
  right: 0;
  left: 0;
  height: 50%;
  margin: auto; }

.sale-price {
  display: inline; }
  .sale-price span {
    color: #f45281; }

.line-through-price {
  text-decoration: line-through;
  color: white; }

.new {
  background-color: rgba(127, 68, 110, 0.8); }

.sale {
  background-color: rgba(244, 82, 129, 0.8); }

.new, .sale {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%; }
  .new span, .sale span {
    line-height: 40px;
    color: white;
    text-transform: uppercase; }

.hover-text {
  display: none; }

.footer_bg {
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: -1; }

.footer__top {
  height: 525px;
  border-bottom: 1px solid #d7d7d7; }

.footer__top-name {
  width: 100%;
  background-color: rgba(18, 204, 226, 0.5);
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: none;
  margin-top: 30px; }

.text-center-on-blue {
  display: inline-block;
  font-weight: 100;
  font-size: 40px;
  line-height: 1.3em;
  color: white;
  width: auto; }

.footer__zip {
  position: relative;
  width: 200px;
  text-align: center; }
  .footer__zip i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
    left: 2px;
    top: -5px;
    color: rgba(14, 132, 145, 0.5); }

.footer__zip-input {
  display: block;
  margin: 40px auto;
  padding: 5px 15px;
  text-align: center;
  border-radius: 0; }

::-webkit-input-placeholder {
  font-family: 'Oswald Light', sans-serif;
  font-size: 18px; }

:-moz-placeholder {
  font-family: 'Oswald Light', sans-serif;
  font-size: 18px; }

::-moz-placeholder {
  font-family: 'Oswald Light', sans-serif;
  font-size: 18px; }

:-ms-input-placeholder {
  font-family: 'Oswald Light', sans-serif;
  font-size: 18px; }

.footer__radius, .change-miles {
  font-size: 25px; }

.footer__radius {
  color: #b8b8b8;
  text-transform: uppercase; }

.change-miles {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
  color: #434343;
  width: auto;
  padding-right: 5px;
  cursor: pointer; }
  .change-miles option {
    transition: 1s; }

label {
  position: relative;
  background: transparent; }

label:after {
  position: absolute;
  content: '\25C0 \25B6';
  font: 14px "Oswald", monospace;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: -14px;
  top: 7px;
  padding: 0 0 2px;
  pointer-events: none;
  color: #434343; }

.footer__find-store {
  width: 200px;
  height: 50px;
  background-color: #167c9a;
  text-align: center;
  margin: 40px auto; }
  .footer__find-store span {
    color: white;
    font-size: 22px;
    line-height: 50px; }
  .footer__find-store:hover {
    background-color: #10586d;
    cursor: pointer; }

.footer__description {
  display: inline-block;
  width: auto; }
  .footer__description h1 {
    text-transform: uppercase; }
  .footer__description p {
    color: #999999;
    display: inline-block;
    width: 60%; }

.links-head {
  margin: 20px 0; }

.links-ul li {
  padding: 10px 0; }
  .links-ul li a {
    color: #555555;
    font-size: 15px; }

.footer__social {
  font-size: 30px;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  flex-flow: column wrap;
  -webkit-flex-flow: column wrap;
  -webkit-align-content: center;
  align-content: center; }
  .footer__social .footer__social-row {
    margin: 10px 0;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    -webkit-justify-content: space-around;
    justify-content: space-around; }
    .footer__social .footer__social-row i {
      color: #12cce2; }

.footer__shopname {
  color: #434343; }

.figure-inner {
  display: none; }

.flex-display {
  display: -webkit-box !important;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox !important;
  /* TWEENER - IE 10 */
  display: -webkit-flex !important;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex !important;
  /* NEW, Spec - Firefox, Chrome, Opera */ }

.block-display {
  display: block !important; }

.none-display {
  display: none !important; }

@media screen and (max-width: 599px) {
  .product {
    width: 220px;
    height: 360px; }

  .fourfold {
    display: block; }
    .fourfold:nth-last-of-type(n+2) {
      display: none; } }
@media screen and (max-width: 440px) {
  .slide-item-1, .slide-item-2 {
    background-repeat: round; } }
@media screen and (min-width: 600px) {
  .heading-tablet {
    display: none; }

  .product {
    width: 48%;
    height: auto; }

  .twice {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    -webkit-justify-content: space-around;
    justify-content: space-around; }
    .twice:nth-last-of-type(n+2) {
      display: none; }

  .fourfold {
    display: block; }
    .fourfold:nth-last-of-type(n+2) {
      display: none; }

  .footer__zip {
    width: 80%; }
    .footer__zip i {
      top: 0; }

  .footer__zip-input {
    width: 100%;
    padding: 10px; }

  .links-head {
    display: none; }

  .footer__description {
    float: left; }

  .links-ul {
    float: right;
    width: 40%;
    margin-right: 5%;
    margin-top: 15px; }
    .links-ul li {
      text-align: right; }

  .footer__social {
    width: 50%;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
    .footer__social.col-xs-offset-1 {
      margin-left: 18%; }

  .footer__social-row {
    width: 50%; }
    .footer__social-row i:hover {
      color: #167c9a;
      cursor: pointer; }

  .nav-tabs {
    float: left !important;
    margin-left: 3%; }

  .new, .sale {
    display: none; }

  .transition {
    transition: 1s; }

  .hover-text {
    position: absolute;
    display: block;
    bottom: 140px;
    height: 65%;
    width: 100%;
    opacity: 0; }
    .hover-text span {
      position: absolute;
      bottom: 0;
      display: block;
      width: 100%;
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      text-align: left; }
    .hover-text:hover {
      opacity: 1;
      cursor: pointer;
      z-index: 400; }

  .panel-tablet {
    width: 33.3%;
    border-right: 1px solid #d7d7d7; }

  .panel-group {
    margin-bottom: 0; }

  .panel-default > .panel-heading {
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #e9e9e9;
    color: #343434;
    border-radius: 0; }

  .tablet-collapse-in {
    display: block; }

  .panel-body > ul > li {
    background-color: #f6f6f6; }

  .panel-body ul li a {
    background-color: #f6f6f6;
    border: none;
    color: #343434;
    font-family: Aleo-regular;
    text-transform: none; }
    .panel-body ul li a > img {
      display: block; }

  .content__section-name {
    width: 100%; }

  .slider-button {
    margin-left: 0; }

  .slide-title {
    top: 20px;
    text-align: left;
    left: 50vw;
    width: 300px;
    margin-left: 0; }

  .slide-p {
    position: absolute;
    left: 50vw;
    top: 110px;
    display: inline-block;
    width: 40vw;
    line-height: 1.15em;
    color: #787878;
    font-size: 20px; }

  .slide-title {
    width: 40vw; }

  .header__navigation {
    width: 80%;
    border: none; } }
@media screen and (min-width: 768px) {
  .submenu-open-tablet {
    display: flex;
    flex-flow: row nowrap;
    position: absolute;
    top: 34px;
    min-width: 500px;
    padding-bottom: 10px;
    border: 2px solid #333333;
    z-index: 500;
    background-color: #f6f6f6; }
    .submenu-open-tablet > div:not(:last-of-type) {
      border-right: 1px solid #d7d7d7; }

  .small {
    min-width: 300px; }

  .active-li {
    background-color: #333333;
    transition: 1s; }
    .active-li a:link, .active-li a:hover, .active-li a:visited, .active-li a:active {
      color: white !important; }

  .footer__description {
    margin-left: 4%; }

  .links-and-social-icons {
    margin-right: 4%; }

  .heading-tablet {
    display: block;
    padding: 15px 35px 10px 15px;
    width: 100%;
    background-color: #e9e9e9;
    border-bottom: 1px solid #d7d7d7; }
    .heading-tablet h4 {
      margin: 0; }
      .heading-tablet h4 a {
        color: #333333;
        text-transform: uppercase; }
        .heading-tablet h4 a:hover {
          text-decoration: none; }

  .columns {
    -moz-column-count: 2;
    -moz-column-gap: 1px;
    -webkit-column-count: 2;
    -webkit-column-gap: 1px; }

  .body-panel-tablet > ul > li {
    padding-top: 5px;
    margin-top: 5px;
    margin-bottom: 5px; }
    .body-panel-tablet > ul > li a {
      padding: 5px 10px;
      margin-right: 10px;
      margin-left: 10px;
      color: #333333;
      font-size: 15px;
      transition: .5s; }
      .body-panel-tablet > ul > li a:hover {
        cursor: pointer;
        background-color: #333333;
        color: white;
        text-decoration: none; }
      .body-panel-tablet > ul > li a img {
        margin-top: 10px; }
    .body-panel-tablet > ul > li.no-hover:hover a {
      cursor: auto;
      background-color: transparent; }

  li.noticeable {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important; }
    li.noticeable a {
      background-color: #62214e !important;
      color: white !important;
      padding-right: 15px !important;
      padding-left: 15px !important; }
      li.noticeable a:hover {
        background-color: #f52c66 !important; }

  li.bold-item a {
    font-weight: 900 !important; }

  .body-panel-tablet ul {
    margin-bottom: 0; }

  .header__navigation {
    display: none; }

  .btn-toolbar.pull-right {
    display: none; }

  .navbar-style {
    font-size: 17px; }
    .navbar-style li:hover {
      background-color: #167c9a;
      transition: 1s; }

  .navbar-default .navbar-nav > li > a:hover {
    color: white; }

  .figure-inner {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0; }
    .figure-inner i {
      position: absolute;
      right: 132px;
      top: 33px;
      color: white;
      font-size: 15px;
      z-index: 300; }
    .figure-inner span {
      color: white;
      font-size: 16px;
      line-height: 35px; }

  #hexagon {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 40px;
    width: 200px;
    height: 35px;
    background: #f52c66;
    text-align: center;
    z-index: 2; }

  #hexagon:after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 25px solid #f52c66; }

  .header__navigation {
    top: 185px; }

  .slide-title {
    width: 35vw; }

  .noticeable a:hover {
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1; } }
@media screen and (min-width: 800px) {
  .header__wrap, .navigation-wrap {
    max-width: 1200px;
    position: relative;
    margin: 0 auto; }

  .product {
    width: 250px;
    margin-right: 10px;
    margin-left: 10px; }

  .nav-tabs {
    margin-left: 0; }

  #hexagon {
    right: 8px; }

  .figure-inner i {
    top: 32px;
    right: 99px; }

  .navbar-collapse, .right-inner-addon {
    padding: 0; }

  .twice:nth-last-of-type(n+2) {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */ }

  .fourfold {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    -webkit-justify-content: center;
    justify-content: center; }

  .new, .sale {
    display: block; }

  .content__section {
    margin: 0 auto;
    max-width: 1100px;
    position: relative; }

  .content__section-name {
    width: auto;
    border: none;
    position: relative;
    display: inline-block;
    padding: 0 50px;
    background-color: white; }

  .double-line {
    position: absolute;
    top: 60px;
    margin: 0 20px;
    height: 5px;
    width: 96%;
    border-top: double 4px #d7d7d7; }

  .first-line {
    top: 350px; }

  ul.links-ul {
    width: 100%;
    float: right;
    margin-right: 0; }
    ul.links-ul li {
      display: inline-block;
      margin-left: 6%;
      float: right; }
      ul.links-ul li a {
        font-family: "Oswald Light"; }

  .footer__zip {
    max-width: 640px; }

  .footer__wrap {
    margin: 0 auto;
    max-width: 1100px; }

  .links-and-social-icons {
    width: 55%;
    float: right; }

  .footer__social.col-xs-offset-1 {
    margin-left: 0;
    float: right; }

  .footer__social {
    width: 65%;
    padding: 0; }

  .hover-text span {
    text-align: justify;
    padding: 10px; }

  .slide-list {
    width: 100%;
    margin: 0 auto; }

  .prev-slides, .next-slides {
    display: inline-block;
    line-height: 290px;
    height: 290px; }
    .prev-slides:before, .prev-slides:after, .next-slides:before, .next-slides:after {
      font-size: 80px;
      font-weight: 100;
      color: white; }

  .prev-slides {
    left: 10px;
    top: 40px; }
    .prev-slides:before {
      content: url("../img/left.png"); }

  .next-slides {
    right: 25px;
    top: 40px; }
    .next-slides:before {
      content: url("../img/right.png"); }

  .right-inner-addon {
    display: inline-block; }

  .right-inner-addon input {
    padding-right: 30px;
    border-radius: 0; }

  .right-inner-addon i {
    position: absolute;
    right: 25px;
    top: 5px;
    pointer-events: none;
    font-size: 14px; } }
@media screen and (min-width: 1200px) {
  .slide-list {
    max-width: 1200px;
    overflow: hidden; }

  .slide-p, .slide-title, .slider-button {
    left: 600px; }

  .slide-p, .slide-title {
    max-width: 450px; }

  .slide-item-1, .slide-item-2 {
    position: relative;
    left: 15%; } }

/*# sourceMappingURL=desktop.css.map */
