$white: white;
$upper-background-color: #e9e9e9;
$upper-border-color: #d7d7d7;
$product-background-color: #cccccc;
$product-center-line-color: #bbbbbb;
$radius-word-text-color: #b8b8b8;
$header-icon-color: #a0a0a0;
$upper-text-color: #999999;
$navigation-background-1: #787878;
$product-name-color: #555555;
$section-name-color: #434343;
$navigation-border: #333333;
$black: black;
$badge-color: #e13f56;
$new-color: #f45281;
$sale-color: #7f446e;
$social-color: #12cce2;
$add-to-cart-color: #2fb789;
$find-store: #167c9a;
$bottom-background-color: rgba(14, 132, 145, 0.5);



@mixin placeholder-style {
  ::-webkit-input-placeholder {
    @content
  }
  :-moz-placeholder {
    @content
  }
  ::-moz-placeholder {
    @content
  }
  :-ms-input-placeholder {
    @content
  }
}

@mixin box-model($sizing) {
  box-sizing: #{$sizing}-box;
  -moz-box-sizing: #{$sizing}-box; /*Firefox 1-3*/
  -webkit-box-sizing: #{$sizing}-box; /* Safari */
}

@mixin box-radius($radius) {
  -moz-border-radius: $radius; /* Firefox */
  -webkit-border-radius: $radius; /* Safari, Google Chrome */
  -khtml-border-radius: $radius; /* KHTML */
  -o-border-radius: $radius; /* Opera */
  -ms-border-radius: $radius; /* IE8 */
  -icab-border-radius: $radius; /* Icab */
  border-radius: $radius; /* CSS3 */
}

@font-face {
  font-family: Aleo-regular;
  src: url("../fonts/aleo-regular.woff");
}

@font-face {
  font-family: "Oswald Light";
  src: url("../fonts/oswald-light-webfont.woff");
}

.aleo-font, .content__section-view-all,  {
  font-family: Aleo-regular;
}

.oswald-light-font, .product__add-to-cart span, .content__section-name, .footer__top-name,
h4.panel-title > a, .panel-body > ul > li > a{
  font-family: "Oswald Light", sans-serif;
}

.oswald-regular-font, .product__name, .links-head, .product__price span, .footer__radius,
.change-miles, .footer__find-store span, .links-ul li a {
  font-family: 'Oswald', sans-serif;
}

.nexa-font {

}

.nav-tabs {
  text-align: center;
  border-bottom: none;
  position: relative;
  li {
    position: relative;
    float: none;
    display: inline-block;
    *display: inline; /* ie7 fix */
    zoom: 1; /* hasLayout ie7 trigger */
    &:first-of-type, &:last-of-type {
      border-right: 1px solid $upper-border-color;
      border-left: 1px solid $upper-border-color;
    }
    &:hover {
      position: relative;
      //top: 0px;
      bottom: -1px;
      border-right: 2px solid $upper-border-color;
      border-left: 2px solid $upper-border-color;
      background-color: $white;
      margin-left: -1px;
      margin-right: -1px;
    }
    a {
      border: none;
      @include box-radius(none);
      color: $upper-text-color;
    }
  }
}

.header {
  position: relative;
}

.nav > li > a:hover {
  background-color: $white;
  border: none;
}

.header__upper-navigation {
  background-color: $upper-background-color;
  border-bottom: 2px solid $upper-border-color;
  margin-bottom: 30px;
}

.header__logo {
  margin-bottom: 30px;
}

.header__logo-top, .header__logo-bottom {
  margin: 0 auto;
  display: block;
}

.header__logo-bottom {
  margin-top: 10px;
}

.navigation-button {
  padding: 6px;
  float: left;
}

.navbar {
  min-height: 10px;
  margin-bottom: 0;
}

.navbar-toggle {
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0;
}

.glyphicon {
  line-height: 25px;
  font-size: 19.5px;
  color: $header-icon-color;
}

.btn-toolbar > .btn-group {
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid $upper-border-color;
  border-left: 1px solid $upper-border-color;
  margin-left: -1px;
}

.badge {
  background-color: $badge-color;
  position: absolute;
  right: -1px;
  top: -10px;
  font-size: 11px;
  width: 15px;
  height: 15px;
  font-weight: normal;
  padding: 3px;
}

.header__slider {
  height: 290px;
  background-color: $black;
  margin-bottom: 40px;
}

.content__section {
  width: 100%;

}

.content__section-name, .footer__top-name {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 35px;
  color: $section-name-color;
  padding-bottom: 20px;
  border-bottom: double 4px $upper-border-color;
  margin-top: 50px;
}

.content__section-view-all {
  color: $upper-text-color;
  display: block;
  margin: 0 auto;
  font-size: 18px;
}

.product {
  width: 220px;
  height: 360px;
  margin: 25px auto;
  position: relative;
}

.product__description {
  height: 100px;
  width: 100%;
  background-color: $product-background-color;
  position: relative;
}

.product__add-to-cart, .new, .sale {
  height: 40px;
  width: 100%;
  background-color: $add-to-cart-color;
  span {
    line-height: 40px;
    text-align: center;
    color: $white;
    font-size: 20px;

  }
}

.product__name, .links-head {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 18px;
  color: $product-name-color;
}

.line {
  height: 1px;
  width: 100px;
  background-color: $product-center-line-color;
  margin: 5px auto;
}

.product__price > span {
  color: $white;
  font-size: 20px;
  &:before {
    content: "$ ";
    font-size: 19px;
    vertical-align: 5%;
  }
}

.product__info-wrapper {
  margin: auto;
  position: absolute;
  height: 50%;
  top: -15px;
  bottom: 0;
  right: 0;
  left: 0;
}

.footer__top {
  height: 525px;
  width: 100%;
  background-image: url("../img/bg.png");
  border-bottom: 1px solid $upper-border-color;
}

.footer__top-name {
  background-color: $bottom-background-color;
  border-bottom: none;
  padding-top: 30px;
  padding-bottom: 30px;
  color: $white;
  margin-top: 30px;
  font-size: 40px;
  line-height: 1.3em;
}

.footer__zip-input {
  display: block;
  margin: 40px auto;
  padding: 5px 10px;
  width: 200px;
  text-align: center;
  border-radius: 0;
}

@include placeholder-style() {
  font-family: 'Oswald Light', sans-serif;
  font-size: 18px;
}

.footer__zip {
  position: relative;
  i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
    left: 65px;
    top: -5px;
    color: $bottom-background-color;
  }
}

.footer__radius, .change-miles {
  font-size: 25px;
}

.footer__radius {
  text-transform: uppercase;
  color: $radius-word-text-color;
}

.change-miles {
  background-color: transparent;
  border: none;
  outline: none;
  color: $section-name-color;
  width: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

label {
  position: relative;
  background: transparent;
}

label:after {
  content: '\25C0 \25B6';
  font: 14px "Oswald", monospace;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: -14px;
  top: 7px;
  padding: 0 0 2px;
  position: absolute;
  pointer-events: none;
  color: $section-name-color;
}

.footer__find-store {
  background-color: $find-store;
  width: 200px;
  height: 50px;
  text-align: center;
  margin: 40px auto;
  span {
    color: $white;
    font-size: 22px;
    line-height: 50px;
  }
}

.footer__description {
  display: inline-block;
  width: auto;
  h1 {
    text-transform: uppercase;
  }
  p {
    color: $upper-text-color;
    display: inline-block;
    width: 60%;

  }
}

.links-head {
  margin: 20px 0;
}

.links-ul li {
  padding: 10px 0;

  a {
    color: $product-name-color;
    font-size: 15px;
  }

}
.footer__social {
  font-size: 30px;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  .footer__social-row {
    margin:10px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    i {
    color: $social-color;
  }
  }

}
.footer__shopname {
  color: $section-name-color;
}

.new {
background-color: $new-color;
}

.sale {
background-color: $sale-color;
}

.new, .sale {
  margin:auto;
  position:absolute;
  width:0%;
  top:0;
  bottom:0;
  right:0;
  left:0;
}

.header__navigation
{
  position: absolute !important;
  z-index: 20;
  overflow:visible;
  background-color:#fff;
  border:1px solid #ddd;
  top: 187px;
  width: 100%;
}
.panel-body {
  padding: 0;
}

.panel-body ul > li > a {
  display: block;
  line-height: 37px;
  margin-left: 15px;
  padding-left: 5px;
  background-color:$navigation-border !important;
  &:hover {
    background-color: $black  !important;
    color: $white;
  }
}
.panel-default > .panel-heading, .panel-body ul li a {
  border-radius: 0;
  border: 2px solid $navigation-border;
  background-color: $navigation-background-1;
  color: $white;
  font-size: 16px;
}

.panel-body > ul > li {
  background-color:$navigation-border;

}

.panel-body ul {
  margin-top: -3px;
  margin-bottom: -10px;
}
h4.panel-title > a, .panel-body ul li a {
  text-decoration: none;
  text-transform: uppercase;
}

h4.panel-title > a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 37px;
  padding-left: 5px;
}

.panel-heading {
  padding: 0 !important;
}

a[aria-expanded="true"] {
  //line-height: 37px!important;
  background-color:$upper-background-color !important;
  color: $navigation-border !important;
}