$supernav-color: #e9e9e9;
$supernav-border: #d7d7d7;
$supernav-text: #999999;
$icon-color: #a0a0a0;
$white: white;
$black: black;
$badge-color: #e13f56;
$section-name-color: #434343;
$price-color: #cccccc;
$add-to-cart-color: #2fb789;

@mixin box-model($sizing) {
  box-sizing: #{$sizing}-box;
  -moz-box-sizing: #{$sizing}-box; /*Firefox 1-3*/
  -webkit-box-sizing: #{$sizing}-box; /* Safari */
}
@mixin box-radius($radius) {
  -moz-border-radius: $radius; /* Firefox */
  -webkit-border-radius: $radius; /* Safari, Google Chrome */
  -khtml-border-radius: $radius; /* KHTML */
  -o-border-radius: $radius; /* Opera */
  -ms-border-radius: $radius; /* IE8 */
  -icab-border-radius: $radius; /* Icab */
  border-radius: $radius; /* CSS3 */
}

.nav-tabs {
  text-align:center;
  border-bottom: none;
  position: relative;
  li {
    position: relative;
    float:none;
    display:inline-block;
    //border-right: 1px solid $supernav-border;
    //border-left: 1px solid $supernav-border;
    *display:inline; /* ie7 fix */
    zoom:1; /* hasLayout ie7 trigger */
    &:first-of-type, &:last-of-type {
      border-right: 1px solid $supernav-border;
      border-left: 1px solid $supernav-border;
    }
    &:hover {
      position: relative;
      //top: 0px;
      bottom: -1px;
      border-right: 2px solid $supernav-border;
      border-left: 2px solid $supernav-border;
      background-color: $white;
      margin-left: -1px;
      margin-right: -1px;
      //margin-bottom: -2px;
    }
    a {
      border: none;
      @include box-radius(none);
      color: $supernav-text;
    }
  }
}

.nav > li> a:hover {
  background-color: $white;
  border: none;
}

.supernavigation {
  background-color: $supernav-color;
  border-bottom: 2px solid $supernav-border;
  margin-bottom: 30px;
}

.header-logo {
  margin-bottom: 30px;
}
.header-logo-top, .header-logo-bottom {
  margin: 0 auto;
  display: block;
}

.header-logo-bottom {
  margin-top: 10px;
}

.navigation-button {
  padding: 6px;
  float:left;
}

.navbar {
  min-height: 10px;
  margin-bottom: 0;
}
.navbar-toggle {
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0;
}

.glyphicon {
  line-height: 25px;
  font-size: 19.5px;
color: $icon-color;
}
.btn-toolbar > .btn-group {
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid $supernav-border;
  border-left: 1px solid $supernav-border;
  margin-left: -1px;
}

.badge {
background-color: $badge-color;
  position:absolute;
  right: -1px;
  top: -10px;
  font-size: 11px;
  width: 15px;
  height: 15px;
  font-weight: normal;
  padding: 3px;
}

.features {
  height: 290px;
  background-color: $black;
  margin-bottom: 40px;
}
.section {
  width: 100%;

}
.section-name {
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 30px;
  color: $section-name-color;
  padding-bottom: 20px;
  margin-top: 50px;
  border-bottom: double 4px $supernav-border;
}
.section-p {
  font-family: Aleo-regular;
  color: $supernav-text;
  display: block;
  margin: 0 auto;
}
@font-face {
  font-family: Aleo-regular; /* ָל רנטפעא */
  src: url("../fonts/aleo-regular.woff"); /* ֿףע ך פאיכף סמ רנטפעמל */
}

.goods {
  width: 220px;
  height: 360px;
  margin: 20px auto;
}

.price {
  height: 100px;
  width: 100%;
  background-color: $price-color;
}

.add-to-cart {
  height: 40px;
  width: 100%;
  background-color: $add-to-cart-color;
}