@import "main";
@import "tablet";

@media screen and (min-width: 800px) {

  .header__wrap, .navigation-wrap {
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
  }


  .product {
    width: 250px;
    margin-right: 10px;
    margin-left: 10px;
  }

.nav-tabs {
  margin-left: 0;
}
  #hexagon {
    right: 8px;
  }

  .figure-inner i {
    top: 32px;
    right: 99px;
  }

.navbar-collapse, .right-inner-addon {
  padding:0;
}

  .twice:nth-last-of-type(n+2) {
    @include flexy();
  }
  .fourfold {
    @include flexbox(row, nowrap, justify, center);
  }

  .new, .sale {
    display: block;
  }

  .content__section {
    margin: 0 auto;
    max-width: 1100px;
    position: relative;
  }
  .content__section-name {
    width: auto;
    border: none;
    position: relative;
    display: inline-block;
    padding: 0 50px;
background-color: $white;
  }

  .double-line {
    position: absolute;
    top: 60px;
    margin: 0 20px;
    height: 5px;
    width: 96%;
    border-top: double 4px $upper-border-color;
  }

  ul.links-ul {
    width: 100%;
    float: right;
    margin-right: 0;
    li {
      display: inline-block;
      margin-left: 6%;
      float: right;
      a {
        font-family: "Oswald Light";
      }
    }


  }

.footer__zip {
  max-width: 640px;
}

.footer__wrap {
  margin: 0 auto;
  max-width: 1100px;
}
  .footer__description {
    //margin-left: 0;
  }

  .links-and-social-icons {
    width: 55%;
    float: right;
    //margin-right: 8.33%;
  }

  .footer__social.col-xs-offset-1 {
    margin-left: 0;
    float: right;
  }
  .footer__social {
    width: 65%;
    padding: 0;
  }

  .hover-text span {
    text-align: justify;
    padding: 10px;
  }

.slide-list {
  width: 100%;
  margin: 0 auto;
}

  .prev-slides, .next-slides {
    display: inline-block;
    line-height: 290px;
    height: 290px;
    &:before, &:after {
      font-size: 80px;
      font-weight: 100;
      color: $white;
    }
  }

  .prev-slides {
    left: 10px;
    top: 40px;
    &:before {
      content: url("../img/left.png");
    }
  }

  .next-slides {
    right: 25px;
    top: 40px;
    &:before {
      content: url("../img/right.png");
    }
  }
  .right-inner-addon {
    display: inline-block;
  }
  .right-inner-addon input {
    padding-right: 30px;
    border-radius: 0;
  }
  .right-inner-addon i {
    position: absolute;
    right: 25px;
    top: 5px;
    pointer-events: none;
    font-size: 14px;
  }

  
  @keyframes swing
  {
    15%
    {
      -webkit-transform: translateX(4px);
      transform: translateX(4px);
    }
    30%
    {
      -webkit-transform: translateX(-4px);
      transform: translateX(-4px);
    }
    50%
    {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
    }
    65%
    {
      -webkit-transform: translateX(-3px);
      transform: translateX(-3px);
    }
    80%
    {
      -webkit-transform: translateX(2px);
      transform: translateX(2px);
    }
    100%
    {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }


}

@media screen and (min-width: 1200px) {

  .slide-list {
    max-width: 1200px;
    overflow: hidden;
  }

  .slide-p, .slide-title, .slider-button {
    left: 600px;
  }
  .slide-p, .slide-title {
    max-width: 450px;
  }
  .slide-item-1, .slide-item-2 {
    position: relative;
    left: 15%;
  }
}