$white: white;
$upper-background-color: #e9e9e9;
$upper-border-color: #d7d7d7;
$product-background-color: #cccccc;
$product-center-line-color: #bbbbbb;
$radius-word-text-color: #b8b8b8;
$header-icon-color: #a0a0a0;
$upper-text-color: #999999;
$navigation-background-1: #787878;
$product-name-color: #555555;
$section-name-color: #434343;
$navigation-border: #333333;
$navbar-toggle-color: #282828;
$black: black;
$badge-color: #e13f56;
$sale-color: #f45281;
$new-color: #7f446e;
$social-color: #12cce2;
$add-to-cart-color: #2fb789;
$find-store: #167c9a;
$bottom-background-color: rgba(14, 132, 145, 0.5);

//-------------------------------------------------------------------------------------------- mixin start

@mixin placeholder-style {
  ::-webkit-input-placeholder {
    @content
  }
  :-moz-placeholder {
    @content
  }
  ::-moz-placeholder {
    @content
  }
  :-ms-input-placeholder {
    @content
  }
}

@mixin input-appearance() {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@mixin box-model($sizing) {
  box-sizing: #{$sizing}-box;
  -moz-box-sizing: #{$sizing}-box; /*Firefox 1-3*/
  -webkit-box-sizing: #{$sizing}-box; /* Safari */
}

@mixin box-radius($radius) {
  -moz-border-radius: $radius; /* Firefox */
  -webkit-border-radius: $radius; /* Safari, Google Chrome */
  -khtml-border-radius: $radius; /* KHTML */
  -o-border-radius: $radius; /* Opera */
  -ms-border-radius: $radius; /* IE8 */
  border-radius: $radius; /* CSS3 */
}

@mixin flexy() {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
}

@mixin flexbox($direction, $iswrap, $align, $position) {
  @include flexy();
  flex-flow: $direction $iswrap;
  -webkit-flex-flow: $direction $iswrap;
  -webkit-#{$align}-content: $position;
  #{$align}-content: $position;
}

@mixin flex-important() {
  display: -webkit-box !important; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox !important; /* TWEENER - IE 10 */
  display: -webkit-flex !important; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex !important; /* NEW, Spec - Firefox, Chrome, Opera */
}

@mixin right-left($property, $vals...) {
  #{$property}-right: $vals;
  #{$property}-left: $vals;
}

@mixin top-bottom($property, $vals...) {
  #{$property}-top: $vals;
  #{$property}-bottom: $vals;
}

//-------------------------------------------------------------------------------------------- mixin end

//-------------------------------------------------------------------------------------------- fonts start

@font-face {
  font-family: Aleo-regular;
  src: url("../fonts/aleo-regular.woff");
}

@font-face {
  font-family: "Oswald Light";
  src: url("../fonts/oswald-light-webfont.woff");
}

@font-face {
  font-family: nexa_boldregular;
  src: url('../fonts/Nexa_Free_Bold-webfont.woff');
  font-weight: normal;
  font-style: normal;
}

.aleo-font, .content__section-view-all, .slide-title, #tab-1 > a, #hexagon > span, .hover-text > span, .slide-p > span, .body-panel-tablet > ul > li > a {
  font-family: Aleo-regular;
}

.oswald-light-font, .product__add-to-cart span, .content__section-name, .footer__top-name,
h4.title-panel > a, .body-panel > ul > li > a, .navbar-style > li > a, .heading-tablet > h4 > a {
  font-family: "Oswald Light", sans-serif;
}

.oswald-regular-font, .product__name, .links-head, .product__price span, .footer__radius,
.change-miles, .footer__find-store span, .links-ul li a, .slider-button > a, #tab-2 > a, .new > span, .sale > span, .sale-price > span {
  font-family: 'Oswald', sans-serif;
}

//-------------------------------------------------------------------------------------------- fonts end

//-------------------------------------------------------------------------------------------- header start

.header {
  position: relative;
}

.header__upper-navigation {
  background-color: $upper-background-color;
  border-bottom: 2px solid $upper-border-color;
  margin-bottom: 30px;
}

//----------------------------------------------------------- tabs start

#tab-1, #tab-2 {
  text-transform: uppercase;
}

#tab-1 {
  font-weight: 900;
}

#tab-3 > a {
  font-family: nexa_boldregular, serif;
  font-size: 15px;
}

.nav-tabs {
  text-align: center;
  border-bottom: none;
  position: relative;
  li {
    position: relative;
    float: none;
    display: inline-block;
    //bottom: -1px;
    //height: 36px;
    *display: inline; /* ie7 fix */

    zoom: 1; /* hasLayout ie7 trigger */
    &:first-of-type, &:last-of-type {
      @include right-left(border, 1px solid $upper-border-color);
    }
    &:hover {
      position: relative;
      background-color: $white;

    }
    a {
      border: none;
      @include box-radius(none);
      color: $upper-text-color;
    }
  }
}

.active {
}

.nav > li > a {
  padding: 7px 10px;
  &:hover {
    background-color: $white;
    border: none;
  }
}

//----------------------------------------------------------- tabs end

//----------------------------------------------------------- logo start

.header__logo {
  height: 124px;
  margin-bottom: 30px;
  text-align: center;
  a {
    display: block;
    height: 124px;
  }
}

.header__logo-top, .header__logo-bottom {
  margin: 0 auto;
  display: block;
  position: relative;
}

.header__logo-top {
  height: 34px;
}

.header__logo-bottom {
  margin-top: 10px;
}

//----------------------------------------------------------- logo end

//----------------------------------------------------------- navbar start

.navigation-button {
  padding: 6px;
  float: left;
}

.navbar {
  min-height: 10px;
  margin-bottom: 0;
}

.navbar-toggle {
  @include top-bottom(margin, 0);
  border-radius: 0;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: $navbar-toggle-color;
}

.glyphicon {
  line-height: 25px;
  font-size: 19.5px;
  color: $header-icon-color;
}

.btn-toolbar > .btn-group {
  text-align: center;
  @include right-left(padding, 10px);
  @include right-left(border, 1px solid $upper-border-color);
  margin-left: -1px;
}

.badge {
  position: absolute;
  right: -1px;
  top: -10px;
  width: 15px;
  height: 15px;
  background-color: $badge-color;
  padding: 3px;
  font-size: 11px;
  font-weight: normal;
}

.right-inner-addon {
  display: none;
}

//----------------------------------------------------------- navbar end

//----------------------------------------------------------- slider start

.clear {
  margin-top: -1px;
  height: 1px;
  clear: both;
  zoom: 1;
}

.slider {
  position: relative;
  overflow: hidden;
  padding: 0;
  &::-moz-selection {
    background: transparent;
    color: $white;
    text-shadow: none;
  }
  &::selection {
    background: transparent;
    color: #fff;
    text-shadow: none;
  }
}

.slide-list {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: $black;
}

.slide-wrap {
  position: relative;
  left: 0px;
  top: 0;
  width: 10000000px;
}

.slide-item {
  position: relative;
  @include box-model(content);
  float: left;
  padding-right: 85vw;
  width: 360px;
  height: 290px;
}

.slide-item-1, .slide-item-2 {
  height: 290px;
  background-size: 427px 290px;
}

.slide-item-1 {
  background: url("../img/img-1.jpg") no-repeat;
}

.slide-item-2 {
  background: url("../img/img-2.jpg") no-repeat $black;
}

.slide-p {
  display: none;
}

.slide-title, .slider-button {
  position: absolute;
  left: 50vw;
  text-align: center;
}

.slide-title {
  top: 20px;
  display: inline-block;
  margin-left: -150px;
  width: 300px;
  line-height: 1.15em;
  color: $white;
  font-size: 35px;
}

.slider-button {
  top: 210px;
  width: 150px;
  height: 50px;
  border: 3px solid $white;
  background-color: $black;
  margin-left: -75px;
  z-index: 2;
  a {
    line-height: 45px;
    color: $white;
    font-size: 20px;
    text-decoration: none;
  }
}

.navy {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 30px;
  cursor: pointer;
  &.disable {
    background: $white;
  }
}

.prev-slide, .next-slide {
  display: inline-block;
  line-height: 290px;
  height: 290px;
  &:before, &:after {
    font-size: 80px;
    font-weight: 100;
    color: $white;
  }
}

.prev-slide {
  left: 10px;
  top: 40px;
  &:before {
    content: url("../img/left.png");
  }
}

.next-slide {
  right: 25px;
  top: 40px;
  &:before {
    content: url("../img/right.png");
  }
}

//----------------------------------------------------------- slider end

//----------------------------------------------------------- navigation start

.heading-tablet {
  display: none;
}

.header__navigation {
  position: absolute !important;
  z-index: 20;
  overflow: visible;
  background-color: #fff;
  //  border: 1px solid #ddd;
  top: 183px;
  width: 100%;
}

.body-panel {
  padding: 0;
}

.body-panel ul > li > a {
  display: block;
  line-height: 37px;
  padding-left: 20px;
  border-radius: 0;
  border: 2px solid $navigation-border;
  color: $white;
  font-size: 16px;
  background-color: $navigation-border;
  &:hover {
    background-color: $black;
    color: $white;
  }
  & > img {
    display: none;
  }
}

.heading {
  position: relative;
  border-radius: 0;
  border: 2px solid $navigation-border;
  background-color: $navigation-background-1;
  .title-panel a {
    padding-left: 10px;
    color: $white;
    font-size: 16px;
    text-transform: uppercase;
    &:after {
      content: "\FE40";
      position: absolute;
      right: 10px;
      top: 15px;
      color: $navigation-border;
      height: 5px;
    }
  }
}

.body-panel ul {
  margin: 0;
}

.submenu-open, .body-panel {
  display: none;
}

.body-panel {
  li:not(:last-of-type) {
    border-bottom: 1px solid $navbar-toggle-color;
  }
}

h4.title-panel > a, .body-panel ul li a {
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    cursor: pointer;
  }
}

h4.panel-title > a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 37px;
  padding-left: 5px;
}

.heading {
  padding: 0 !important;
}

.select-heading {
  background-color: $upper-background-color !important;
  a {
    color: $navigation-border !important;
    &:after {
      transform: rotate(180deg);
    }
  }

}

.nav-tabs > li > a {
  margin: 0;
  border-radius: 0;
}

.panel-default {
  border: none;
}

.panel-body > ul > li.noticeable, .panel-body > ul > li.noticeable > a {
  background-color: $white;
}

.panel-body > ul > li.noticeable > a {
  border: none;
  line-height: 40px;
  color: $black;
  font-family: nexa_boldregular, serif;
  margin-left: 20px;
  text-transform: none;
}

.submenu-open-tablet {
  display: none;
}

//-------------------------------------------------------------- navigation end

//------------------------------------------------------------------------------------- header end

//-------------------------------------------------------------------------------------------- products start
.fourfold {
  position: relative;
}

.content__section-name, .footer__top-name {
  display: inline-block;
  text-transform: uppercase;
  padding-bottom: 20px;
  border-bottom: double 4px $upper-border-color;
  margin-top: 50px;
  color: $section-name-color;
}

.content__section-view-all {
  color: $upper-text-color;
  display: block;
  margin: 0 auto;
  font-size: 18px;
  &:hover, &:visited {
    color: darken($upper-text-color, 10%);
  }
}

.product {
  position: relative;
  margin: 25px auto;
}

.product__description {
  position: relative;
  height: 100px;
  background-color: $product-background-color;
}

.product__add-to-cart, .new, .sale {
  height: 40px;
  background-color: $add-to-cart-color;
  span {
    color: $white;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
  }
}

.product__add-to-cart:hover {
  background-color: $navigation-border;
  cursor: pointer;
}

.product__name, .links-head {
  display: inline-block;
  color: $product-name-color;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 18px;
}

.line {
  height: 1px;
  width: 100px;
  background-color: $product-center-line-color;
  margin: 5px auto;
}

.product__price {
  display: inline-block;
}

.product__price > span, .sale-price > span {
  color: $white;
  font-size: 20px;
  &:before {
    content: "$ ";
    font-size: 19px;
    vertical-align: 5%;
  }
}

.product__info-wrapper {
  position: absolute;
  top: -15px;
  bottom: 0;
  right: 0;
  left: 0;
  height: 50%;
  margin: auto;
}

.sale-price {
  display: inline;
  span {
    color: $sale-color;
  }
}

.line-through-price {
  text-decoration: line-through;
  color: $white;
}

.new {
  background-color: transparentize($new-color, .2);
}

.sale {
  background-color: transparentize($sale-color, .2);
}

.new, .sale {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%;
  span {
    line-height: 40px;
    color: $white;
    text-transform: uppercase;
  }
}

.hover-text {
  display: none;
}

//-------------------------------------------------------------------------------------------- products end

//-------------------------------------------------------------------------------------------- footer start

.footer__top {
  height: 525px;
  background: url("../img/bg.png") repeat-x;
  border-bottom: 1px solid $upper-border-color;
}

.footer__top-name {
  width: 100%;
  background-color: transparentize($social-color, .5);
  @include top-bottom(padding, 30px);
  border-bottom: none;
  margin-top: 30px;
}

.text-center-on-blue {
  display: inline-block;
  font-weight: 100;
  font-size: 40px;
  line-height: 1.3em;
  color: $white;
  width: auto;
}

.footer__zip {
  position: relative;
  width: 200px;
  text-align: center;
  i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
    left: 2px;
    top: -5px;
    color: $bottom-background-color;
  }
}

.footer__zip-input {
  display: block;
  margin: 40px auto;
  padding: 5px 15px;
  text-align: center;
  border-radius: 0;
}

@include placeholder-style() {
  font-family: 'Oswald Light', sans-serif;
  font-size: 18px;
}

.footer__radius, .change-miles {
  font-size: 25px;
}

.footer__radius {
  color: $radius-word-text-color;
  text-transform: uppercase;
}

.change-miles {
  @include input-appearance();
  background-color: transparent;
  border: none;
  outline: none;
  color: $section-name-color;
  width: auto;
  padding-right: 5px;
  cursor: pointer;
  option {
    transition: 1s;
  }

}

label {
  position: relative;
  background: transparent;
}

label:after {
  position: absolute;
  content: '\25C0 \25B6';
  font: 14px "Oswald", monospace;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: -14px;
  top: 7px;
  padding: 0 0 2px;
  pointer-events: none;
  color: $section-name-color;
}

.footer__find-store {
  width: 200px;
  height: 50px;
  background-color: $find-store;
  text-align: center;
  margin: 40px auto;
  span {
    color: $white;
    font-size: 22px;
    line-height: 50px;
  }
  &:hover {
    background-color: darken($find-store, 10%);
    cursor: pointer;
  }
}

.footer__description {
  display: inline-block;
  width: auto;
  h1 {
    text-transform: uppercase;
  }
  p {
    color: $upper-text-color;
    display: inline-block;
    width: 60%;
  }
}

.links-head {
  margin: 20px 0;
}

.links-ul li {
  padding: 10px 0;
  a {
    color: $product-name-color;
    font-size: 15px;
  }
}

.footer__social {
  font-size: 30px;
  @include flexbox(column, wrap, align, center);
  .footer__social-row {
    margin: 10px 0;
    @include flexbox(row, nowrap, justify, space-around);
    i {
      color: $social-color;
    }
  }
}

.footer__shopname {
  color: $section-name-color;
}

.figure-inner {
  display: none;
}

//-------------------------------------------------------------------------------------------- js classes start
.flex-display {
  @include flex-important();
}

.block-display {
  display: block !important;
}

.none-display {
  display: none !important;
}

//-------------------------------------------------------------------------------------------- js classes end

@media screen and (max-width: 599px) {

  .product {
    width: 220px;
    height: 360px;
  }

  .fourfold {
    display: block;
    &:nth-last-of-type(n+2) {
      display: none;
    }
  }
}
