@import "main";

$svg-color: #f52c66;
$submenu-header-color: #343434;
$almost-white: #f6f6f6;
$li-noticeable: #62214e;

@media screen and (min-width: 600px) {

  //-------------------------------------------------------------------------------------------- products start

  .product {
    width: 48%;
    height: auto;
  }
  .twice {
    @include flexbox(row, nowrap, justify, space-around);

    &:nth-last-of-type(n+2) {
      display: none;
    }
  }
  .fourfold {
    display: block;
    &:nth-last-of-type(n+2) {
      display: none;
    }
  }

  //-------------------------------------------------------------------------------------------- products end

  //-------------------------------------------------------------------------------------------- footer start

  .footer__zip {
    width: 80%;
    i {
      top: 0;
    }
  }
  .footer__zip-input {
    width: 100%;
    padding: 10px;
  }

  .links-head {
    display: none;
  }

  .footer__description {
    float: left;
    margin-left: -4%;
  }

  .links-ul {
    float: right;
    width: 40%;
    margin-right: 5%;
    margin-top: 15px;
    li {
      text-align: right;
    }
  }

  .footer__social {
    width: 50%;
    @include flexbox(row, nowrap, justify, space-between);
    //flex-flow: row nowrap;
    //justify-content: space-between;
    &.col-xs-offset-1 {
      margin-left: 18%;
    }
  }

  .footer__social-row {
    width: 50%;
  }

  //-------------------------------------------------------------------------------------------- footer start

  .nav-tabs {
    float: left !important;
    margin-left: 3%;
  }

  .new, .sale {
    display: none;
  }

  .transition {
    transition: 1s;
  }

  .hover-text {
    position: absolute;
    display: block;
    bottom: 140px;
    height: 65%;
    width: 100%;
    opacity: 0;
    span {
      position: absolute;
      bottom: 0;
      display: block;
      width: 100%;
      padding: 10px;
      background-color: transparentize($black, .5);
      color: $white;
      text-align: left;
    }
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }

  .tablet-submenu-open {
    height: 100%;
    //width: 80%;
    @include flexbox(row, nowrap, justify, flex-start);
    border: 2px solid $navigation-border;
    .panel-default > .panel-heading {
      border: none;
    }

  }
  .panel-tablet {
    width: 33.3%;
    border-right: 1px solid $upper-border-color;
  }

  .panel-group {
    margin-bottom: 0;

  }
  .panel-default > .panel-heading {
    border-top: none;
    border-left: none;
    border-right: none;
    // border-bottom: 1px solid $upper-border-color;
    background-color: $upper-background-color;
    color: $submenu-header-color;
    border-radius: 0;
  }
  .tablet-collapse-in {
    display: block;
  }
  .panel-body > ul > li {
    background-color: $almost-white;
  }
  .panel-body ul li a {
    background-color: $almost-white;
    border: none;
    color: $submenu-header-color;
    font-family: Aleo-regular;
    text-transform: none;
    & > img {
      display: block;
    }
  }

  .content__section-name {
    width: 100%;
  }
  .slider-button {
    margin-left: 0;
  }
  .slide-title {
    text-align: left;
    left: 50vw;
    width: 300px;
    margin-left: 0;
  }

  /////////////////////////////////////////////////////////////
  .slide-p {
    position: absolute;
    left: 50vw;
    top: 105px;
    display: inline-block;
    width: 40vw;
    line-height: 1.15em;
    color: $navigation-background-1;
    font-size: 20px;
  }
  .slide-title {
    width: 40vw;
  }

  .header__navigation {
    width: 80%;
    border: none;
  }

}


@media screen and (min-width: 768px) {
  //--------------------------------------------tablet submenu start
  .submenu-open-tablet {
    display: flex;
    flex-flow: row nowrap;
    position: absolute;
    top: 34px;
    min-width: 500px;
    //height: 300px;
    border: 2px solid $navigation-border;
    z-index: 500;
    background-color: $almost-white;
    & > div:not(:last-of-type) {
      border-right: 1px solid $upper-border-color;
    }
  }

  .heading-tablet {
    display: block;
    padding: 15px 35px 10px 15px;
    width: 100%;
    background-color: $upper-background-color;
    border-bottom: 1px solid $upper-border-color;
    h4 {
      margin: 0;
      a {
        color: $navigation-border;
        text-transform: uppercase;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .columns {
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
  }

  .body-panel-tablet > ul > li {
    padding-top: 5px;
    @include top-bottom(margin, 5px);
    a {
      padding: 5px 10px;
      @include right-left(margin, 10px);
      color: $navigation-border;
      font-size: 15px;
      &:hover {
        cursor: pointer;
        background-color: $navigation-border;
        color: $white;
        text-decoration: none;
      }
      img {
        margin-top: 10px;
      }
    }

    &.no-hover:hover {
      a {
        cursor: auto;
        background-color: transparent;
      }
    }
  }

  li.noticeable a {
    background-color: $li-noticeable;
    color: $white !important;
    @include right-left(padding, 15px !important);
    &:hover {
      background-color: $svg-color !important;
    }
  }
  li.bold-item a {
    font-weight: 900 !important;
  }
  //--------------------------------------------tablet submenu end
  .header__navigation {
    display: none;
  }



  .btn-toolbar.pull-right {
    display: none;
  }
  .navbar-style {
    font-size: 17px;
    li:hover {
      background-color: $find-store;
    }
  }
  .navbar-default .navbar-nav > li > a:hover {
    color: $white;
  }

  .figure-inner {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;

    i {
      position: absolute;
      right: 132px;
      top: 33px;
      color: $white;
      font-size: 15px;
      z-index: 3;
    }
    span {
      color: $white;
      font-size: 16px;
      line-height: 35px;
    }
  }

  #hexagon {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 40px;
    width: 200px;
    height: 35px;
    background: $svg-color;
    text-align: center;
  }
  #hexagon:after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 25px solid $svg-color;
  }
  .header__navigation {
    top: 185px;
  }

  .slide-title {
    width: 30vw;
  }
}